body {
  background: #fafafa;
  margin: 0;
  font-family: Arial;
}

header {
  text-align: center;
  padding: 15px;
  background: #0A66C2;
  color: white;
}

.container {
  width: 350px;
  margin: 50px auto;
}

.card {
  background: white;
  padding: 25px;
  border-radius: 10px;
  text-align: center;
}

button {
  padding: 12px 20px;
  background: green;
  border: none;
  color: white;
  cursor: pointer;
}
